.intro {
  width: 100%;
  height: 105vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./bg2.png);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
.slider {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(max-width: 1024px){
  .intro{
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  .intro {
    height: 75vh;
  }
  .slider {
    height: 50vh;
  }
}

@media (max-width: 680px) {
  .intro {
    height: 100vh;
  }
  .slider {
    height: 95vh;
  }
}
@media (max-width: 380px) {
  .intro {
  }
}
