.project-preview{
    width: 90%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.project-preview h1{
    font-size: 1.2rem;
    color: #005194;
    margin-bottom: 10px;
}

.project-preview h2{
    font-size: 1.5rem;
    text-align: center;
}

.project-preview .projectpreviewlist{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
}
.project-preview .projectpreviewlist .project-preview-item{
    margin: 0 2rem;
    border-radius: 5px;
    width: 340px;
    height:360px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    background:linear-gradient( to top, #fff,#fff,#9289f1 );
    box-shadow: 0 10px 20px rgba(159,162,177,.4);
    transform:skew(0deg);
    transition: transform .5s cubic-bezier(.29,1.42,.79,1) 0s,-webkit-transform .5s cubic-bezier(.29,1.42,.79,1) 0s;
}
.project-preview .projectpreviewlist .project-preview-item:hover{
    transform:skew(10deg);
    transition: transform .5s cubic-bezier(.29,1.42,.79,1) 0s,-webkit-transform .5s cubic-bezier(.29,1.42,.79,1) 0s;
}
.project-preview .projectpreviewlist .project-preview-item .project-preview-item-image{
    width: 100%;
    height: 45%;
    position: relative;
}
.project-preview .projectpreviewlist .project-preview-item .project-preview-item-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top:0;
    opacity: 1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transform:translate(0px,-0px);
    transition: transform .5s cubic-bezier(.29,1.42,.79,1) 0s,-webkit-transform .5s cubic-bezier(.29,1.42,.79,1) 0s;
}
.project-preview .projectpreviewlist .project-preview-item:hover .project-preview-item-image img:nth-child(1){
    transform:translate(10px,-10px);
    transition: transform .5s cubic-bezier(.29,1.42,.79,1) 0s,-webkit-transform .5s cubic-bezier(.29,1.42,.79,1) 0s;
    opacity: 0.2;
    border-radius: 4px;
}
.project-preview .projectpreviewlist .project-preview-item:hover .project-preview-item-image img:nth-child(2){
    transform:translate(20px,-20px);
    transition: transform .5s cubic-bezier(.29,1.42,.79,1) 0s,-webkit-transform .5s cubic-bezier(.29,1.42,.79,1) 0s;
    opacity: 0.6;
    border-radius: 4px;
}
.project-preview .projectpreviewlist .project-preview-item:hover .project-preview-item-image img:nth-child(3){
    transform:translate(30px,-30px);
    transition: transform .5s cubic-bezier(.29,1.42,.79,1) 0s,-webkit-transform .5s cubic-bezier(.29,1.42,.79,1) 0s;
    opacity: 1;
    border-radius: 4px;
}
.project-preview .projectpreviewlist .project-preview-item h3{
    color: #000;
    margin: 1.5rem 0 0.5rem 1rem;
    border-left: 3px solid #3330a3;
    padding-left: 0.5rem;
    font-size: 1.5rem;
    transform:translate(0px,-0px);
    transition: transform .5s cubic-bezier(.29,1.42,.79,1) 0s,-webkit-transform .5s cubic-bezier(.29,1.42,.79,1) 0s;
}
.project-preview .projectpreviewlist .project-preview-item:hover h3{
    transform:translate(30px,-30px);
    transition: transform .5s cubic-bezier(.29,1.42,.79,1) 0s,-webkit-transform .5s cubic-bezier(.29,1.42,.79,1) 0s;
}
.project-preview .projectpreviewlist .project-preview-item h4{
    color: #000;
    font-size: 1rem;
    padding: 0 1rem;
    transform:translate(0px,-0px);
    transition: transform .5s cubic-bezier(.29,1.42,.79,1) 0s,-webkit-transform .5s cubic-bezier(.29,1.42,.79,1) 0s;
}

.project-preview .projectpreviewlist .project-preview-item:hover h4{
    transform:translate(30px,-30px);
    transition: transform .5s cubic-bezier(.29,1.42,.79,1) 0s,-webkit-transform .5s cubic-bezier(.29,1.42,.79,1) 0s;
}

.project-preview .see-more div{
    width: 120px;
    height: 40px;
    border-radius: 4px;
    background-image: linear-gradient(96deg,#6254e7 0%,#9289f1 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.project-preview .see-more div h6{
    font-size: 1rem;
    color: #fff;
    transform: translateX(-0px);
    transition: transform .5s cubic-bezier(.29,1.42,.79,1) 0s,-webkit-transform .5s cubic-bezier(.29,1.42,.79,1) 0s;
}

.project-preview .see-more div i{
    color: #fff;
    margin: 0 0.8rem;
    position: absolute;
    right: -50px;
    transition: position .5s cubic-bezier(.29,1.42,.79,1) 0s,-webkit-transform .5s cubic-bezier(.29,1.42,.79,1) 0s;
}

.project-preview .see-more:hover div h6{
    transform: translateX(-10px);
    font-size: 0.9rem;
    transition: transform .5s cubic-bezier(.29,1.42,.79,1) 0s,-webkit-transform .5s cubic-bezier(.29,1.42,.79,1) 0s;
}

.project-preview .see-more:hover div i{
    transform: translateX(-50px);
    transition: transform .5s cubic-bezier(.29,1.42,.79,1) 0s,-webkit-transform .5s cubic-bezier(.29,1.42,.79,1) 0s;
}

@media only screen and (max-width:1024px){
    .project-preview .projectpreviewlist .project-preview-item{
        width: 190px;
        height:250px;
    }
    .project-preview .projectpreviewlist .project-preview-item h3{
        font-size: 1rem;
        padding: 0 0 0 5px;
    }
    .project-preview .projectpreviewlist .project-preview-item h4{
        font-size: 0.7rem;
    }
}

@media (max-width: 730px){
    .project-preview {
        height: auto;
    }
    .project-preview .projectpreviewlist{
        width: 100%;
        flex-direction: column;
    }
    .project-preview .projectpreviewlist .project-preview-item{
        width: 290px;
        height:350px;
        margin: 20px 0;
    }
}