.services {
  margin-top: 5rem;
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.services .top {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.services .top h1 {
  margin: 0.5rem 0;
}
.services .top h2 {
  margin: 0 0 2rem 0;
}
.services .top .option-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}
.services .top .option-list .option {
  width: 180px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 40px 0px rgba(107, 125, 179, 0.11);
  border-radius: 2px;
  cursor: pointer;
  background-color: #fff;
  transition: all 0.5s ease-out;
  margin-bottom: 1rem;
  margin-right: 25px;
}
.services .top .option-list .option i::before {
  margin: 0;
  font-size: 2.5rem;
}
#ue i::before {
  color: #fa7070;
}
#pd i::before {
  color: #00aeff;
}
#dm i::before {
  color: #c679e3;
}
#br i::before {
  color: #eb6b3d;
}
#de i::before {
  color: #0000ff;
}
#an i::before {
  color: #f78acb;
}
.services .top .option-list .option:hover {
  background-color: #0000ff;
  transition: all 0.5s ease-out;
}

.services .top .option-list .option:hover i::before {
  margin: 0;
  font-size: 2.5rem;
  color: #fff !important;
}

.services .top .option-list .option h3 {
  margin-top: 1.2rem;
  font-size: 1.1rem;
}

.services .top .option-list .option:hover h3 {
  margin-top: 0.2rem;
  color: #fff;
  transition: margin 0.5s cubic-bezier(0.29, 1.42, 0.79, 1) 0s,
    -webkit-transform 0.5s cubic-bezier(0.29, 1.42, 0.79, 1) 0s;
}

.services .top .option-list .active {
  background-color: #0000ff;
  color: #fff;
  width: 180px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 40px 0px rgba(107, 125, 179, 0.11);
  border-radius: 2px;
  cursor: pointer;
  margin-bottom: 1rem;
  margin-right: 25px;
  transition: all 0.5s cubic-bezier(0.29, 1.42, 0.79, 1) 0s,
  -webkit-transform 0.5s cubic-bezier(0.29, 1.42, 0.79, 1) 0s;
}

.services .top .option-list .active i::before {
  margin: 0;
  font-size: 2.5rem;
  color: #fff !important;
}
.services .top .option-list .active h3 {
  margin-top: 1.2rem;
  font-size: 1.1rem;
  color: #fff;
}

.services .down {
  width: 90%;
  height: 60%;
}

.services .down .option-detail {
  height: 0%;
  display: none;
}

.services .down .option-detail-selected {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  .services {
    height: 200vh;
    margin-top: 1rem;
  }
  .services .down {
    height: 65%;
  }
}
@media (max-width: 868px) {
  .services {
    height: 100%;
  }
  .services .top .option-list {
    overflow-x: scroll;
    scrollbar-width: 0;
    margin: 25px 0;
  }
  .services .top h1{
    margin: 1.5rem 0;
  }
  .services .top .option-list::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .services .top .option-list .option {
    width: 160px;
    height: 110px;
    padding: 0 1rem;
  }
  .services .top .option-list .option:hover {
    background-color: #fff;
    transition: all 0.5s ease-out;
  }

  #ue:hover i::before {
    color: #fa7070 !important;
    font-size: 2.5rem;
  }
  #pd:hover i::before {
    color: #00aeff !important;
    font-size: 2.5rem;
  }
  #dm:hover i::before {
    color: #c679e3 !important;
    font-size: 2.5rem;
  }
  #br:hover i::before {
    color: #eb6b3d !important;
    font-size: 2.5rem;
  }
  #de:hover i::before {
    color: #0000ff !important;
    font-size: 2.5rem;
  }
  #an:hover i::before {
    color: #f78acb !important;
    font-size: 2.5rem;
  }

  .services .top .option-list .option:hover h3 {
    margin-top: 1.2rem;
    color: #000;
    transition: margin 0.5s cubic-bezier(0.29, 1.42, 0.79, 1) 0s,
      -webkit-transform 0.5s cubic-bezier(0.29, 1.42, 0.79, 1) 0s;
  }

  .services .top .option-list .option#br {
    padding: 0 2.8rem;
  }

  .services .top .option-list .active {
    width: 160px;
    height: 110px;
    padding: 0 1rem;
  }
  .services .top .option-list .active#br{
    padding: 0 2.8rem;
  }
  .services .top .option-list .option h3 {
    font-size: 0.9rem;
  }
  .services .top .option-list .active i::before {
    font-size: 2.3rem;
    color: #fff !important;
  }

  .services .top .option-list .active #ue:hover i::before {
    color: #fff !important;
  }
  .services .top .option-list .active#pd:hover i::before {
    color: #fff !important;
  }
  .services .top .option-list .active#dm:hover i::before {
    color: #fff !important;
  }
  .services .top .option-list .active#br:hover i::before {
    color: #fff !important;
  }
  .services .top .option-list .active#de:hover i::before {
    color: #fff !important;
  }
  .services .top .option-list .active#an:hover i::before {
    color: #fff !important;
  }

  .services .top .option-list .active h3 {
    font-size: 0.9rem;
    /* margin-top: 0; */
  }
  .services .top .option-list .option i::before {
    font-size: 2.2rem;
  }
}
@media (max-width: 680px) {
  .services {
    height: 136vh;
  }
  .services .top {
    height: 28%;
  }
  .services .top h1 {
    font-size: 18px;
    margin: 0.3rem 0;
  }
  .services .top h2 {
    font-size: 16px;
  }
  
}
@media (max-width: 380px) {
  .services {
    height: auto;
  }
  .services .top h2 {
    font-size: 14px;
  }
  .services .top .option-list .option {
    width: 150px;
    height: 110px;
  }
  .services .top .option-list .active {
    width: 150px;
    height: 110px;
  }
  .services .top .option-list .option h3 {
    font-size: 0.85rem;
  }
  .services .top .option-list .active i::before {
    font-size: 2.1rem;
  }
  .services .top .option-list .active h3 {
    font-size: 0.85rem;
  }
  .services .top .option-list .option i::before {
    font-size: 2.1rem;
  }
}
