nav {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* z-index: 999;
  position: absolute;
  top: 0; */
}
nav .navbar2 {
  width: 100%;
  padding: 0 0 0 5rem;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}

nav .navbar2 .og {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

nav .navbar2 .og .og-logo {
  height: 100%;
}

nav .navbar2 .og .og-logo img {
  height: 100%;
}
nav .navbar2 .og .og-name {
  font-size: 0.7rem;
  letter-spacing: 0.2rem;
  color: #fff;
}
nav .navbar2 .menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .navbar2 .menu .menu-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .navbar2 .menu .menu-list ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .navbar2 .menu .menu-list ul li {
  position: relative;
  margin: 0 20px;
}
nav .navbar2 .menu .menu-list .primary-menu a {
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  padding: 0.25rem;
  letter-spacing: 0.06rem;
}
.contact-btn {
  padding: 12px 25px !important;
  border-radius: 5px;
  font-size: 0.8rem !important;
  font-weight: 500 !important;
  background-color: #f0ac0e;
  background-image: linear-gradient(90deg, #f0ac0e 0%, #f56616 100%);
  color: #fff;
}
.contact-btn:hover {
  background-image: linear-gradient(90deg, #f0ac0e 0%, #f56616 40%);
}
nav .navbar2 .menu .menu-list .primary-menu .drop-button {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  padding: 0.25rem;
  letter-spacing: 0.06rem;
  cursor: pointer;
}
nav .navbar2 .menu .menu-list .primary-menu:nth-child(1)::before,
nav .navbar2 .menu .menu-list .primary-menu:nth-child(2)::before {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background-color: #f39d00;
}
nav .navbar2 .menu .menu-list .primary-menu:nth-child(1):hover::before,
nav .navbar2 .menu .menu-list .primary-menu:nth-child(2):hover::before {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background-color: #f39d00;
  transition: width 0.6s ease-in;
  transform-origin: left;
}
nav .navbar2 .menu .menu-list .primary-menu .create {
  background-color: #f39d00;
  padding: 0.5rem 2.8rem;
  color: #fff;
  border-radius: 2rem;
  line-height: 0.6rem;
  border: 2px solid #f39d00;
  font-size: 1rem;
}
nav .navbar2 .menu .menu-list .primary-menu .create:hover {
  background-color: transparent;
  transition: background-color 0.35s ease-in;
}
nav .navbar2 .menu .menu-list .drop-menu {
  position: relative;
  padding: 15px 0;
}
nav .navbar2 .menu .menu-list .drop-menu .drop-button i {
  margin: 0 0 0 0.4rem;
  font-size: 1.2rem;
  transform: translateY(1.2px);
}
nav .navbar2 .menu .menu-list .drop-menu:hover .drop-button i {
  transform: rotate(180deg);
  transition: transform 0.5s cubic-bezier(0.29, 1.42, 0.79, 1) 0s,
    -webkit-transform 0.5s cubic-bezier(0.29, 1.42, 0.79, 1) 0s;
}
nav .navbar2 .menu .menu-list .drop-menu a:hover {
  border: none;
  cursor: pointer;
}
nav .navbar2 .menu .menu-list .drop-menu a:hover i {
  transform: rotate(180deg);
}
nav .navbar2 .menu .menu-list .drop-menu .sub-menu-list::before {
  content: ""; /* Pseudo-element has no content    */
  position: absolute; /* It's positioned absolutely       */
  width: 15px; /* It has a width of 1 pixel        */
  height: 15px;
  top: -8px;
  transform: rotate(45deg);
  display: flex;
  background-color: #fff;
}
nav .navbar2 .menu .menu-list .drop-menu .sub-menu-list {
  width: 250px;
  padding: 0.8rem 0;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 55px;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  z-index: 3;
  background-color: #fff;
}
nav .navbar2 .menu .menu-list .drop-menu:hover .sub-menu-list {
  display: flex;
}
nav .navbar2 .menu .menu-list .drop-menu .sub-menu-list li {
  margin: 0.5rem 0;
  padding: 0;
}

nav .navbar2 .menu .menu-list .drop-menu .sub-menu-list li a {
  color: #3b3465;
}
nav .navbar2 .menu .menu-list .drop-menu .sub-menu-list li a:hover {
  color: #f39d00;
}
nav .navbar2 .menu .menu-list .drop-menu .sub-menu-list-show {
  display: flex;
}

nav .navbar2 .hamburger {
  margin: auto 0;
  cursor: pointer;
  position: relative;
  display: none;
}

nav .navbar2 .hamburger .line1,
nav .navbar2 .hamburger .line2,
nav .navbar2 .hamburger .line3 {
  height: 2px;
  background-color: lightblue;
  margin: 5px;
}

nav .navbar2 .hamburger .line1 {
  width: 18px;
}

nav .navbar2 .hamburger .line2 {
  width: 15px;
}

nav .navbar2 .hamburger .line3 {
  width: 13px;
}

nav .navbar2 .hamburger:hover .line2 {
  width: 18px;
  transition: ease-in 0.2s;
}

nav .navbar2 .hamburger:hover .line3 {
  width: 18px;
  transition: ease-in 0.1s;
}

nav .navbar2 .active-hamburger {
  z-index: 2;
  /* background: #000; */
  margin: auto 0;
  cursor: pointer;
  position: relative;
}

nav .navbar2 .active-hamburger .line1 {
  width: 20px;
  height: 2px;
  transform: rotate(45deg) translate(5px, 5px);
  /* margin: 5px; */
  background-color: #fff;
  position: absolute;
  top: -14px;
  right: 4.5px;
}

nav .navbar2 .active-hamburger .line2 {
  display: none;
}

nav .navbar2 .active-hamburger .line3 {
  width: 20px;
  height: 2px;
  /* margin: 5px; */
  background-color: #fff;
  position: absolute;
  top: -0.5px;
  right: 5px;
  transform: rotate(-45deg) translate(5px, -5px);
}
nav .signout {
  background-color: red;
  padding: 0.5rem;
  color: #fff;
  border-radius: 2rem;
  line-height: 0.6rem;
  border: 2px solid red;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: padding 0.8s cubic-bezier(0.29, 1.42, 0.79, 1) 0s,
    -webkit-transform 0.8s cubic-bezier(0.29, 1.42, 0.79, 1) 0s;
}
nav .signout:hover {
  background-color: orangered;
  padding: 0.5rem 2.8rem;
  color: #fff;
  border-radius: 2rem;
  line-height: 0.6rem;
  border: 2px solid orangered;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: padding 0.8s cubic-bezier(0.29, 1.42, 0.79, 1) 0s,
    -webkit-transform 0.8s cubic-bezier(0.29, 1.42, 0.79, 1) 0s;
}
nav .signout div {
  margin-left: 0.5rem;
  display: none;
}
nav .signout:hover div {
  display: block;
  transition: padding 0.8s cubic-bezier(0.29, 1.42, 0.79, 1) 0s,
    -webkit-transform 0.8s cubic-bezier(0.29, 1.42, 0.79, 1) 0s;
}
.full-menu {
  display: none;
}
.scroll{
  overflow-y: hidden;
}
@media only screen and (max-width: 768px) {
  nav .navbar2 {
    justify-content: space-between;
    padding: 0 1rem;
    position: relative;
  }

  nav .navbar2 .menu {
    display: flex;
  }
  .full-menu-show {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    background-image: url(./menubg.svg);
    background-color: #3152a4;
    width: 100%;
    height: 100vh;
    z-index: 1;
  }
  .full-menu-context {
    width: 80%;
    height: 80%;
    margin: auto;
    display: grid;
    grid-template-areas:
      "main-menu"
      "connect"
      "social";
  }

  .full-menu-context-main {
    grid-area: main-menu;
  }

  .full-menu-context-main ul {
    display: flex;
    flex-direction: column;
  }
  .primary-menu {
    margin-bottom: 10px;
    color: #fff;
    /* font-size: 3.5rem; */
    cursor: pointer;
  }

  .primary-menu:hover {
    color: crimson;
  }

  .secondary-menu {
    margin-bottom: 10px;
    font-size: 35px;
    color: #fff;
    font-size: 2.8rem;
    cursor: pointer;
  }

  .secondary-menu:hover {
    color: #e17600;
  }

  .full-menu-context-main ul li a {
    cursor: pointer;
  }

  .full-menu-context-connect {
    grid-area: connect;
    text-align: right;
    font-family: "Montserrat", sans-serif;
    font-size: 34px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .full-menu-context-connect .get-in-touch a {
    margin-top: 24px;
    border: 2px solid #fff;
    display: flex;
    padding: 15px 20px;
    position: relative;
    z-index: 1;
    font-size: 1.5rem;
    color: #fff;
    border-radius: 6px;
  }

  .full-menu-context-connect .get-in-touch a::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #fff;
    z-index: -1;
    transition: width 0.8s;
  }

  .full-menu-context-connect .get-in-touch a:hover {
    color: #3330a3;
  }
  .full-menu-context-connect .get-in-touch a:hover::before {
    width: 100%;
  }

  .full-menu-context-connect a {
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
  }

  .full-menu-context-social {
    grid-area: social;
    display: flex;
    width: 30%;
    margin: auto;
    justify-content: space-around;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: #fff;
  }

  .full-menu-context-social .social-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    margin: 10px;
  }

  .full-menu-context-social .social-icon i {
    font-size: 40px;
    clip-path: inset(0px 0px 15px 0px);
    -webkit-clip-path: inset(0px 0px 15px 0px);
    position: relative;
    top: 25%;
    color: #fff;
  }

  .full-menu-context-social .social-icon:hover i {
    clip-path: inset(0px);
    -webkit-clip-path: inset(0px);
    top: 0;
    transition: ease-out 0.2s;
  }
}

@media only screen and (max-width: 680px) {
  nav {
    height: 8vh;
  }

  nav .navbar2 {
    padding: 0 25px 0 15px;
  }

  .full-menu-open {
    height: 100%;
    background-size: 300px;
  }

  nav .navbar2 .menu {
    display: none;
  }

  nav .navbar2 .hamburger {
    display: block;
  }

  .full-menu-context {
    width: 80%;
    margin-top: 70px;
    display: grid;
    grid-template-areas:
      "main-menu"
      "connect"
      "social";
  }
  .full-menu-context-main ul {
    padding: 0;
  }
  .primary-menu {
    font-size: 30px;
  }
  .secondary-menu {
    font-size: 22px;
  }
  .full-menu-context-connect {
    border-top: 2px solid #fff;
    margin: 10px 0;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .full-menu-context-social {
    font-size: 12px;
    width: 100%;
  }
}

@media (max-width: 468px) {
  nav .navbar2 .og .og-name {
    display: block;
  }

  nav .navbar2 .hamburger {
    display: block;
  }

  nav .navbar2 .active-hamburger .line1{
    transform: rotate(47deg) translate(4.4px, 5px);
    right: 4.7px;
  }
}

@media (max-width: 380px) {
  nav .navbar2 .og .og-name {
    font-size: 0.5rem;
  }
}
