.contactform {
  margin-top: 5rem;
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./bg.png);
  position: relative;
  background-size: cover;
  background-position: top;
  /* padding-bottom: 20px; */
}
.contactform .contactform-container {
  width: 65vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.45);
  border-radius: 15px;
  margin-bottom: 5rem;
  /* position: absolute;
    top: -20%; */
}

.contactform .contactform-container .left {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactform .contactform-container .left img {
  width: 90%;
}

.contactform .contactform-container .right {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.contactform .contactform-container .right h1 {
  font-size: 1.2rem;
  color: #005194;
}
.contactform .contactform-container .right h2 {
  font-size: 2rem;
  color: #ffa04d;
}
.contactform .contactform-container .right h3 {
  font-size: 1rem;
  color: #a0a0a0;
}
.contactform .contactform-container .right .contact-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  align-items: flex-start;
  margin: 1rem 0;
}

.contactform .contactform-container .right .contact-form .form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  margin: 0.25 0;
}
.contactform
  .contactform-container
  .right
  .contact-form
  .form-group
  .group
  .form-input-label.shrink {
  top: 0px;
}
.contactform
  .contactform-container
  .right
  .contact-form
  .form-group
  .group
  .form-input:focus
  ~ .form-input-label {
  top: 0px;
}
.contactform .contactform-container .right .contact-form button {
  border: none;
  padding: 0;
  cursor: pointer;
  margin-top: 2rem;
}
.contactform .contactform-container .right .contact-form button div {
  width: 120px;
  height: 50px;
  border-radius: 4px;
  background-image: linear-gradient(96deg, #6254e7 0%, #9289f1 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.contactform .contactform-container .right .contact-form button div h6 {
  font-size: 1.2rem;
  color: #fff;
  transform: translateX(-0px);
  transition: transform 0.5s cubic-bezier(0.29, 1.42, 0.79, 1) 0s,
    -webkit-transform 0.5s cubic-bezier(0.29, 1.42, 0.79, 1) 0s;
}

.contactform .contactform-container .right .contact-form button div i {
  color: #fff;
  margin: 0 0.8rem;
  position: absolute;
  right: -50px;
  transition: position 0.5s cubic-bezier(0.29, 1.42, 0.79, 1) 0s,
    -webkit-transform 0.5s cubic-bezier(0.29, 1.42, 0.79, 1) 0s;
}

.contactform .contactform-container .right .contact-form button:hover div h6 {
  transform: translateX(-10px);
  font-size: 0.9rem;
  transition: transform 0.5s cubic-bezier(0.29, 1.42, 0.79, 1) 0s,
    -webkit-transform 0.5s cubic-bezier(0.29, 1.42, 0.79, 1) 0s;
}

.contactform .contactform-container .right .contact-form button:hover div i {
  transform: translateX(-60px);
  transition: transform 0.5s cubic-bezier(0.29, 1.42, 0.79, 1) 0s,
    -webkit-transform 0.5s cubic-bezier(0.29, 1.42, 0.79, 1) 0s;
}

@media only screen and (max-width: 1024px) {
  .contactform {
    height: 80vh;
    background-size: auto;
  }
  .contactform .contactform-container {
    width: 80%;
  }
  .contactform .contactform-container .left {
    width: 40%;
    height: auto;
  }
  .contactform .contactform-container .left img {
    width: 90%;
    height: 90%;
  }
  .contactform .contactform-container .right {
    width: 60%;
    height: 70%;
  }
  .contactform .contactform-container .right h1 {
    font-size: 1rem;
  }
  .contactform .contactform-container .right h2 {
    font-size: 1.6rem;
  }
  .contactform .contactform-container .right h3 {
    font-size: 0.8rem;
  }
  .contactform .contactform-container .right .contact-form {
    width: 100%;
    align-self: center;
    margin-top: 2rem;
  }
  .contactform .contactform-container .right .contact-form button {
    margin-top: 1rem;
  }
}

@media (max-width: 748px) {
  .contactform .contactform-container {
    width: 90%;
  }
}
@media (max-width: 680px) {
  .contactform {
    height: 800px;
    margin-top: 3rem;
  }
  .contactform .contactform-container {
    width: 90%;
    flex-direction: column;
    height: 90%;
  }
  .contactform .contactform-container .left {
    width: 70%;
  }
  .contactform .contactform-container .right {
    width: 80%;
    height: 70%;
    margin-top: 1.5rem;
  }

  .contactform .contactform-container .right h1 {
    font-size: 0.8rem;
  }
  .contactform .contactform-container .right h2 {
    font-size: 1.2rem;
  }
  .contactform .contactform-container .right h3 {
    font-size: 0.6rem;
    margin-bottom: .5rem;
  } 
  .contactform .contactform-container .right .contact-form {
    width: 100%;
    align-self: flex-start;
    margin-top: 1rem;
    height: 70%;
  }
  .contactform .contactform-container .right .contact-form .form-group{
      flex-direction: column;
      align-items: flex-start;
      height: 50%;
      width: 100%;
  }
  .contactform .contactform-container .right .contact-form button {
      margin-top: 2rem;
  }
}
@media(max-width: 480px){
  .contactform .contactform-container .left {
    width: 80%;
  }
}