.footer {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #223b7c;
  padding-top: 1rem;
}

.footer .top-one {
  width: 80%;
  height: 90%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer .top-one .part {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin: 0 2.5rem; */
}
.footer .top-one .part1 {
  margin: 1rem 0;
  width: 30%;
}
.footer .top-one .part1 .brand {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .top-one .part1 .brand h1 {
  color: #fff;
}
.footer .top-one .part1 .brand img {
  width: 80px;
}
.footer .top-one .part1 .desc {
  width: 100%;
  height: 100%;
}
.footer .top-one .part1 .desc h2 {
  font-size: 1rem;
  text-align: center;
  color: #fff;
}
.footer .top-one .part1 .social {
  margin-top: 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .top-one .part1 .social a {
  font-size: 1.8rem;
  margin: 0 0.8rem;
  color: #fff;
}
.footer .top-one .part1 .social a:nth-child(1):hover {
  color: #3b5998 !important;
}
.footer .top-one .part1 .social a:nth-child(2):hover {
  color: #55acee !important;
}
.footer .top-one .part1 .social a:nth-child(3):hover {
  color: #25d366 !important;
}
.footer .top-one .part1 .social a:nth-child(4) i:hover {
  background: -webkit-radial-gradient(
    33% 100% circle,
    #fed373 4%,
    #f15245 30%,
    #d92e7f 62%,
    #9b36b7 85%,
    #515ecf
  );
  background: radial-gradient(
    circle at 33% 100%,
    #fed373 4%,
    #f15245 30%,
    #d92e7f 62%,
    #9b36b7 85%,
    #515ecf
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer .top-one .part1 .social a:nth-child(5):hover {
  color: #0077b5 !important;
}
.footer .top-one .part1 .social a:hover {
  transform: scale(1.5) translateY(-5px);
  transition: transform 0.8s cubic-bezier(0.29, 1.42, 0.79, 1) 0s,
    -webkit-transform 0.8s cubic-bezier(0.29, 1.42, 0.79, 1) 0s;
}
.footer .top-one .part2 .bottom a:last-child {
  font-size: 0.85rem;
}
.footer .top-one .part2,
.footer .top-one .part3,
.footer .top-one .part4 {
  margin-top: 2.5rem;
}
.footer .top-one .part .top {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer .top-one .part .top h3 {
  font-size: 1.5rem;
  color: #fff;
}
.footer .top-one .part .bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.footer .top-one .part .bottom a {
  font-size: 1.2rem;
  color: #000;
  margin: 0.3rem 0;
  color: #fff;
}
.footer .top-one .part .bottom a i {
  margin: 0 0.6rem 0 0;
  color: #5854e2;
}
.footer .bottom {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .bottom h4 {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  color: #fff;
  border-top: 1px solid #3a4a8f;
  padding: 1rem 0;
}

@media only screen and (max-width: 1024px) {
  .footer {
    height: 55vh;
  }
  .footer .top-one {
    /* transform: scale(0.8); */
    width: 80%;
  }
  .footer .top-one .part1 .brand h1 {
    color: #fff;
    font-size: 28px;
  }
  .footer .top-one .part1 .brand img {
    width: 60px;
  }
  .footer .top-one .part .top h3 {
    font-size: 1.2rem;
  }
  .footer .top-one .part .bottom a {
    font-size: 0.9rem;
  }
  .footer .top-one .part1 .desc h2 {
    font-size: 0.9rem;
  }
  .footer .top-one .part2 .bottom a:last-child {
    font-size: 0.8rem;
  }
}
@media (max-width: 768px) {
  .footer {
    height: auto;
  }
  .footer .top-one {
    /* flex-direction: column; */
    width: 95%;
  }
  .footer .top-one .part1 .brand {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }
  .footer .top-one .part1 .brand img {
    width: 50px;
  }
  .footer .top-one .part1 .desc h2 {
    font-size: 0.85rem;
  }
  .footer .top-one .part1 .desc {
    width: 90%;
    align-self: flex-start;
  }
}

@media (max-width: 680px) {
  .footer .top-one {
    flex-direction: column;
    width: 80%;
  }
  .footer .top-one .part1 {
    width: 100%;
    align-self: center;
    order: 4;
  }
  .footer .top-one .part1 .brand {
    justify-content: center;
  }
  .footer .top-one .part1 .desc {
    width: 80%;
    align-self: center;
  }
}
