.modal-blank{
    position: absolute;
    /* top: 0;
    left: 0; */
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.modal-blank .modal-container{
    background-color: white;
    height: 70%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 1rem;
}

.modal-blank .modal-container .modal-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    margin-bottom: 35px;
}

.modal-blank .modal-container .modal-head h4{
    font-size: 18px;
}

.modal-blank .modal-container .modal-head i{
    padding-bottom: 10px;
    cursor: pointer;
}

.modal-blank .modal-container .modal-input{
    display: flex;
    width: 80%;
    height: 70%;
    flex-direction: column;
    margin-bottom: 35px;
}

.modal-blank .modal-container .modal-input input{
    width: 100%;
    height: 18%;
    margin-bottom: 7px;
    border: none;
    outline: none;
    font-size: 15px;
    border-bottom: 1px solid lightgrey;
}

.modal-blank .modal-container button{
    width: 80%;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    background-image: linear-gradient(270deg, #6254e7 0%, #9289f1 100%);
}