.debox{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.debox .left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.debox .left h2{
    color: #0000ff;
    margin: 15px 0;
}
.debox .left h3{
    font-size: 1rem;
}

.debox .left .checkbox{
    width: 100%;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.debox .left .checkbox .left{
    width: 50%;
    height: 180px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.debox .left .checkbox .right{
    width: 50%;
    height: 180px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.debox .left .checkbox .check{
    width: 220px;
    height: 45px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}
.debox .left .checkbox .check i{
    color: #fff;
    padding: 8px;
    background-color: #0000ff;
    border-radius: 4px;
    margin: 0 10px;
    font-size: 0.8rem;
}
.debox .left .checkbox .check h4{
    font-size: 1.2rem;
}

.debox .left .checkbox .check:before{
    content: "";
    width: 0px;
    height: 50px;
    background-color: blue;
    position: absolute;
    z-index: -1;
    border-radius: 4px;
    cursor: pointer;
}
.debox .left .checkbox .check:hover:before{
    width: 220px;
    transform-origin: left;
    transition: width .5s cubic-bezier(.29,1.42,.79,1) 0s,-webkit-transform .5s cubic-bezier(.29,1.42,.79,1) 0s;
}
.debox .left .checkbox .check:hover i{
    color: #0000ff;
    background-color: #fff;
    transition: all 0.35s ease-in;
}
.debox .left .checkbox .check:hover h4{
    color: #fff;
    transition: color 0.35s ease-in;
}
.debox .right{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.debox .right img{
    width: 70%;
    height: 80%;
}

@media only screen and (max-width:1024px){
    .debox{
        flex-direction: column;
    }
    .debox .left{
        width: 100%;
    }
    .debox .right{
        width: 100%;
    }
}
@media (max-width: 680px){
    .debox .left .checkbox{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .debox .left .checkbox .left{
        width: 100%;
        margin-bottom: 23px;
    }
    .debox .left .checkbox .right{
        width: 100%;
        align-items: flex-start;
    }
    .debox .right{
        width: 100%;
        height: auto;
    }
}
@media (max-width: 380px){
    .debox .left{
        width: 100%;
        height: 70%;
    }
    .debox .right{
        margin: 1rem 0;
    }
}