.seoanalysis{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.seoanalysis .pattern{
    transform: translateX(-30%);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 40vw;
    height: 70vh;
}
.seoanalysis .pattern img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.seoanalysis .seoanalysis-box{
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(159,162,177,.4);
    border-radius: 10px;
}
.seoanalysis .seoanalysis-box .left{
    width: 40%;
    height: 90%;
}

.seoanalysis .seoanalysis-box .left img{
    width: 100%;
}

.seoanalysis .seoanalysis-box .right{
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:center;
    margin-left: 5rem;
}
.seoanalysis .seoanalysis-box .right h1{
    font-size: 1.2rem;
    color: #005194;
}
.seoanalysis .seoanalysis-box .right h2{
    font-size: 2.2rem;
    color: #ffa04d;
}
.seoanalysis .seoanalysis-box .right h3{
    font-size: 1.2rem;
    color: #a0a0a0;
}
.seoanalysis .seoanalysis-box .right .seo-analysis-form{
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: flex-start;
}

.seoanalysis .seoanalysis-box .right .seo-analysis-form .form-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    margin: 0.25rem 0;
}
.seoanalysis .seoanalysis-box .right .seo-analysis-form .form-group .group .form-input-label.shrink{
    top: 10px;
}
.seoanalysis .seoanalysis-box .right .seo-analysis-form .form-group .group .form-input:focus ~ .form-input-label{
    top: 5px;
}
.seoanalysis .seoanalysis-box .right .seo-analysis-form button{
    border: none;
    padding: 0;
    cursor: pointer;
}
.seoanalysis .seoanalysis-box .right .seo-analysis-form button div{
    width: 150px;
    height: 50px;
    border-radius: 4px;
    background-image: linear-gradient(96deg,#6254e7 0%,#9289f1 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.seoanalysis .seoanalysis-box .right .seo-analysis-form button div h6{
    font-size: 1rem;
    color: #fff;
    transform: translateX(-0px);
    transition: transform .5s cubic-bezier(.29,1.42,.79,1) 0s,-webkit-transform .5s cubic-bezier(.29,1.42,.79,1) 0s;
}

.seoanalysis .seoanalysis-box .right .seo-analysis-form button div i{
    color: #fff;
    margin: 0 0.8rem;
    position: absolute;
    right: -50px;
    transition: position .5s cubic-bezier(.29,1.42,.79,1) 0s,-webkit-transform .5s cubic-bezier(.29,1.42,.79,1) 0s;
}

.seoanalysis .seoanalysis-box .right .seo-analysis-form button:hover div h6{
    transform: translateX(-10px);
    font-size: 0.9rem;
    transition: transform .5s cubic-bezier(.29,1.42,.79,1) 0s,-webkit-transform .5s cubic-bezier(.29,1.42,.79,1) 0s;
}

.seoanalysis .seoanalysis-box .right .seo-analysis-form button:hover div i{
    transform: translateX(-50px);
    transition: transform .5s cubic-bezier(.29,1.42,.79,1) 0s,-webkit-transform .5s cubic-bezier(.29,1.42,.79,1) 0s;
}

@media only screen and (max-width:1024px){
    .seoanalysis .seoanalysis-box{
        flex-direction: column;
        height: 90%;
        width: 90%;
        justify-content: space-between;
    }
    .seoanalysis .seoanalysis-box .left{
        width: 60%;
        height: 30%;
    }
    .seoanalysis .seoanalysis-box .right{
        width: 90%;
        height: 60%;
    }
}