.workprocess{
    margin-top: 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.workprocess h1{
    font-size: 1.2rem;
    color: #3b3465;
}
.workprocess .part{
    margin: 5rem 0 1rem 0;
    width: 70%;
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.workprocess .part .left{
    width: 30%;
    height: 100%;
}
.workprocess .part .left img{
    width: 80%;
}
.workprocess .part .right{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.workprocess .part .right h2{
    font-size: 1.6rem;
    padding: 0.7rem;
    background-color: #3330a3;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    margin: 0 2rem;
}

.workprocess .part .right .content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.workprocess .part .right .content h3{
    font-size: 1.5rem;
    color: #000;
    margin: 0.5rem 0;
}
.workprocess .part .right .content h4{
    font-size: 1rem;
    color: #000;
    font-weight: lighter;
}
.arrow1,.arrow2,.arrow3,.arrow4{
    position: absolute;
}
.arrow1{
    bottom: -7rem;
    left: 12rem;
}
.arrow2{
    bottom: -7rem;
    left: 8rem;
}
.arrow3{
    bottom: -8rem;
    left: 8rem;
}
.arrow4{
    bottom: -8rem;
    left: 7rem;
}
@media only screen and (max-width:1024px){
    .workprocess .part{
        width: 90%;
        height: 35vh;
    }
}

@media only screen and (max-width:768px){
    .workprocess .part{
        height: 40vh;
    }
}

@media(max-width: 468px){
    .workprocess .part{
        height: 52vh;
        flex-direction: column;
        justify-content: center;
        align-items: space-around;
    }
    .workprocess .part .left{
        width: auto;
        height: 50%;
        margin-bottom: 2rem;
    }
    .workprocess .part .right{
        width: 100%;
        height: 30%;
        margin-bottom: 1rem;
    }
    .workprocess .part .right h2{
        margin: 0 1rem;
        font-size: 1.2rem;
    }
    .workprocess .part .right .content h3{
        font-size: 1.2rem;
    }
    .workprocess .part .right .content h4{
        font-size: 0.8rem;
    }
    .arrow1 img,.arrow2 img,.arrow3 img,.arrow4 img{
        width: 90%;
    }
    .arrow1{
        bottom: -5rem;
        left: 12rem;
    }
    .arrow2{
        bottom: -7rem;
        left: 8rem;
    }
    .arrow3{
        bottom: -5.5rem;
        left: 8rem;
    }
    .arrow4{
        bottom: -6rem;
        left: 7rem;
    }
}

@media (max-width: 368px){
    .workprocess .part{
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: space-around;
    }
    .arrow2{
        bottom: -5rem;
        left: 8rem;
    }
    .arrow4{
        bottom: -3.5rem;
        left: 7rem;
    }
}